
/* 广告 */
#ad {
    width: 420px;
    height: 310px;
    background-color: #83deff;
    border-radius: 4px;
    position: fixed;
    margin-bottom: 5%;
    left:0;
    top: 400px;
    z-index: 5;
}
#ad .close{
    font-weight: 700;
    color: white;
    cursor: pointer;
}
#ad .title{
    color: white;
    text-align: center;
}

#home {
    background-color: #f4f4f4;
}

/*轮播图*/
.banner{
    width:100%;
    height: 500px;
    margin-bottom: 10px;
}
#imglist{
    width:1200px;
    height: 500px;
}
#imglist ul li{
    height: 500px;
    display:none;
    opacity:0;
}
#imglist ul li:nth-child(1){
    display:block;
    opacity:1;
}
#imglist ul li img{
    width:1200px;
    height: 500px;
}

.message{
    margin-bottom: 30px;
}
.message .content{
    display: flex;
    justify-content: space-between;
}
.message .message_container{ 
    width: 46%;
}
.message .message_container .title{ 
    border-bottom: 2px solid skyblue;
    font-size: 35px;
    padding-bottom: 4px;
    margin-bottom: 4px;
}
.message .message_container ul li{ 
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 6px;
}

.promotion ul {
    display: flex;
    justify-content: space-between;
}
.promotion ul li{
   width: 200px;
   height: 200px;
   text-align: center;
}

.promotion ul li:hover{
   cursor: pointer;
   background-color: skyblue;
   transition: background-color 0.5s ease-in-out;
}
.promotion ul li img{
   width: 160px;
   height: 160px;
}
.promotion ul li .title{
   font-size: 16px;
}